
.tagLine {
  /* display: flex; */
  justify-content: center;
  margin-top: 10px;
}

#faizan {
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: tagline 10s  infinite alternate;
  border-right: 3px solid #A3E900; 
}

@keyframes tagline {
    0% {
        width: 0ch;
    }
    50% {
        width: 70.2ch;
    }
}


.run{
  /* color: black; */
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  /* width: 100%; */
}
.run span{
  transition: .5s linear
}
.run:hover span:nth-child(1){
  margin-right: 5px
}
.run:hover span:nth-child(1):after{
  content: "'";
}
.run:hover span:nth-child(2){
  margin-left: 30px
}
.run:hover span{
  color: #A3E900;
  text-shadow: 0 0 10px #A3E900,
               /* 0 0 20px #A3E900,  */
               0 0 40px #A3E900;
}


@media screen and (max-width: 800px) {
  .mainBox {
      gap: 30px;
  }

  .box {
      min-height: 180px;
  }

  textarea {
      min-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  .mainBox {
      grid-template-columns: repeat(1, 1fr);
      gap: 60px;
  }

  .box {
      min-height: 150px;
      margin-top: 20px;
  }

  textarea {
      min-height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .navbar>h1{
      font-size: 28px
  }
}

